{% extends "base.jinja" %}
{% block content %}
<div class="row">
  <div class="span12">

    <article class="title">
      <div>
	{%- for breadcrumb in breadcrumbs -%}
	<a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
	{{ ' > ' if not loop.last }}
	{%- endfor -%}
      </div>

      <h1>Polymorphism: {{id}}</h1>
      <p>
	Nearest previously reported germline allele: {{closest}}<br/>
	Substitution mutations between {{id}} and {{closest}} are shown in red and upper case, sequence insertions or extensions are shown in blue/italics.<br/>
	Reference paper(s): <a href="displayRef.php?type=0&id=1">1</a><br/>
	Reference study:
	{% for cite in citations %}
	{%- if cite in references -%}
	<a href="{{ ref.href }}">{{ item.caption }}</a>
	{%- endif %}
	{% endfor %}


	{{references}}<br/>


	Sequence:&nbsp;&nbsp;&nbsp;<a href="{{url_for("gene_fasta", id=id)}}" download="{{id}}.fasta">FASTA</a>&nbsp;&nbsp;&nbsp;<a href="{{url_for("gene_phylip", id=id)}}" download="{{id}}.phy">PHYLIP</a>  <br/>
	<div class="seq">>{{id}}<br/>
	  <code>
{{sequence | e | wordwrap(wrapstring="<br/>") | safe }}
	  </code>
	</div></p>
    </article>
  </div>
  {% endblock %}

